<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="DefaultLog" class="org.apache.log4j.FileAppender">
    <param name="File" value="common.log"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
       <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
   
  <appender name="Console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
       <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  
  <appender name="MyConstituent" class="org.apache.log4j.FileAppender">
    <param name="File" value="Tracks.log"/>
    <param name="Append" value="false"/>
    <layout class="org.apache.log4j.PatternLayout">
       <param name="ConversionPattern" value="%d - %m%n"/>
    </layout>
  </appender>
  
  <logger name="MyLogger">
    <level value="Debug"/>
    <appender-ref ref="MyConstituent"/>
  </logger>
  
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="DefaultLog"/>
    <appender-ref ref="Console"/>
  </root>
   
</log4j:configuration>
